# APP Config
BOT_TOKEN=                                  # Add the discord bot token here
CHANNEL_ID=                                 # The channel where you want to pull messages from to let the bot generate gibberish
DB_CONNECTION_URL=                          # The connection URL for the database (example: postgresql+psycopg2://postgres:postgres@localhost:5433/bazelbot_db)
MESSAGE_LIMIT=10000                         # The amount of messages to pull from the channel
NUM_THREADS=16                              # Number of threads the bot can use
LLM=gurubot/llama3-guru-uncensored:latest   # The LLM that will be used by the bot
OLLAMA_BASE_URL=http://ollama:11434         # The base URL for the Ollama service (http://localhost:11434 for local development)
OLLAMA_REQUEST_TIMEOUT=180                  # After how many seconds the request to the LLM will timeout